body {
  color: #FFFFFF;
  margin: 0px;
  font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Sans,FreeSans,Jamrul,Garuda,Kalimati;
  font-size:0.7em;
  font-style:normal;
  background-color: #181818; 
}

div.main {
  width: 768px;
  margin: 0 auto;
}

div.navigator a {
  text-decoration: none;
  color: #FFFFFF;
}

div.navigator ul {
  background-color: #3399CC;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

div.navigator li {
  display: inline;
  padding: 10px;
}

div.content {
  width: 766px;
  overflow: hidden;
}

div.content_left {
  -moz-border-radius: 5px;
  background-color: #FFFFFF;
  float: left;
  width: 550px;
  color: Black;
}

div.information {
  margin: 10px;
  text-align: justify;
  overflow: hidden;
}

div.information img {
  float: left;
  margin-right: 10px;
}

div.content_right {
  float: right;
  width: 200px;
}

div.menu strong {
  display: block;
  margin-bottom: 5px;
}

div.followme_images {
  text-align: center;
  margin-bottom: 15px;
}

div.followme_images_left {
  display: inline;
  margin-right: 10px;
}

div.followme_images_right {
  display: inline;
  margin-left: 10px;
}

div.followme img {
  height: 20px;    
}

div.categories ul  {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
  margin-left: 1px;
}

div.categories li {
  background: url("/media/images/link.gif") no-repeat scroll left 5px;
  border-bottom: 1px dotted #333333;    
  padding-top: 3px;
  padding-bottom: 3px;
}

div.categories a {
  color: #3399CC;
  text-decoration: none;    
  margin-left: 15px;
}

div.categories a:hover {
  background-color: #3399CC;
  color: #FFFFFF;
}

div.footer {
  width: 768px;
}

div.footer p {
  margin: 0px;
  text-align: center;
}
